# Application
APP_PORT=number

# Database
DATABASE_NAME=modified
DATABASE_USER=modified
DATABASE_PASSWORD=modified
DATABASE_PORT=number

# User data
USER_EMAIL=modified
USER_NAME=modified
USER_PASSWORD=modified